:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondery-color: #f2f2f2;
  --cool-color: #ffca2c;
}

body {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  color: var(--secondery-color);
}

.logo {
  font-size: 30px;
}

nav {
  padding: 10px 0;
  margin: 30px;
}

nav li {
  list-style: none;
  margin-left: 20px;
  font-family: var(--default-font-family);
}
.active {
  color: var(--cool-color) !important;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 40px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
}

.hero {
  background-color: var(--secondery-color);
  text-align: center;
  margin: 0 50px 50px;
  color: black;
}

h2 {
  font-size: 30px;
  font-family: var(--heading-font-family);
}

.carousel .carousel-item {
    max-height:550px;
}

.carousel-control-prev-icon {
  filter: invert(1);
}

.hero p {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 10px;
}
.description {
  padding: 0 20px;
}

.description a:hover{
color: var(--secondery-color);
  transition: all 100ms ease-in-out;
}

.content-container {
  padding: 48px 20px;
}

.content h1 {
  font-size: 45px;
  line-height: 80px;
}
.content img {
  height: 200px;
  width: 450px;
  display: block;
  margin: 0 auto;
}

.content {
  margin: 0 30px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}
.content a {
  text-decoration: none;
}

.content a:hover {
  color: var(--secondery-color);
  transition: all 100ms ease-in-out;
}

footer {
  margin: 30px 0 40px;
}

footer .email-link {
  text-decoration: none;
  font-size: 24px;
  color: var(--secondery-color);
}

footer .email-link:hover {
  color: var(--cool-color);
  transition: all 100ms ease-in-out;
}

footer .social-links a {
  margin: 0 10px;
  color: var(--cool-color);
  padding: 10px;
  width: 18px;
  font-size: 18px;
}
footer .social-links a:hover {
  color: var(--secondery-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 960px) {
  body {
    margin-bottom: 40px;
  }
  .description {
    text-align: center;
  }
  h1 {
    font-size: 15px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}

.contact-social-links a {
  color: var(--cool-color);
}
.GitHubRepo{
  text-decoration: none;
  color: var(--secondery-color);
}