:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondery-color: #f2f2f2;
}

body {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  color: var(--secondery-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 40px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
}

.hero {
  background-color: var(--secondery-color);
  text-align: center;
  margin: 50px 50px;
  color: black;
}

h2 {
  font-size: 30px;
  font-family: var(--heading-font-family);
}

.hero p {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 10px;
}
.description {
  padding: 0 20px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 45px;
  line-height: 80px;
}
.content img{
  height: 200px;
  width: 450px;
  display: block;
  margin: 0 auto;
}

.content {
  margin: 0 30px;
}
.content h3{
  font-size: 24px;
  font-family: var(--default-font-family);
}
.content a{
  text-decoration: none;
  color: #FFCA2C;
}
@media (max-width: 960px) {
  .description {
    text-align: center;
  }
  h1 {
    font-size: 15px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  
}

/*.socials{
    background-color: #f2f2f2;
  text-align: center;
  margin-bottom: 10px;
}*/
