/*font-family: 'New Tegomin', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

h1{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
font-weight: normal;
}